

body {
    color: #282828;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
 }

#home::before {
    background: url(../images/home.jpg) no-repeat center center;
    background-color: rgba(26, 30, 35, 0.85);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
